@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  list-style-type: none !important;
}
.container {
  max-width: 1120px;
  margin: auto;
}


body {
  background: #fff;
}


body::-webkit-scrollbar {
  width: 10px;
}


body::-webkit-scrollbar-track {
  background: #f1f1f1;
}


body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  max-width: 1120px;
  margin: auto;
}

.button-light {
  
  background: #5546FF;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.button-light:hover {
  color: #fff;
}

.button-dark {

  background: #5546FF;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.button-green {
  width: auto;
  background: #45c486;
  border: 1.5px solid #2d2a43;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 35px;
}

.banner-content {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 18px;
  background: #FFF;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 57px 24px 60px 41px;
}

.banner-content h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
}

.banner-content p {
  font-weight: 500;
  line-height: 20px;
}

.tests-title {
  margin-top: 70px;
}

.tests-title h4 {
  font-size: 25px;
  font-weight: 700;
  border-bottom: 5px solid #ffd622;
  padding-right: 15px;
  display: inline-block;
  
}

.tests-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card {
  color: black;
  text-align: center;
  width: auto;
  border: none;
  border-radius: 18px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.card img {
  width: 128px;
  height: 128px;
  margin: 30px 65px 15px 65px;
  flex-wrap: wrap;
}

.results-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.results-content div {
  background: #fff;
  border-radius: 16px;
}

.results-content .info {
  padding: 76px 15px 45px 40px;
  border-radius: 18px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.results-content .info h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  margin-top: 50px;
}

.results-content .list {
  padding: 25px 22px 22px 31px;
  overflow: auto;
  border-radius: 18px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.results-content .list li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid #333;
}

.results-content .list li p {
  margin-bottom: 0;
  font-weight: 500;
  line-height: 36px;
}

footer {
  background: #fff;
  padding: 28px 0 22px;
  border-top: 1px solid #000;
}

footer h1 {
  color: var(--dark, #111);
  font-size: 30px;
  font-weight: 900;
}

footer h3 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.login-modal .modal-content {
  padding: 36px 30px 64px 30px;
  border: none !important;
  border-radius: 16px !important;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-modal h1 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.login-modal p {
  color: var(--black, #2d2a43);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

/* .login-modal form {
  height: 250px;
  overflow-y: auto;
} */

.login-modal input {
  margin: 0 auto 15px auto;
  display: flex;
  width: 85%;
  height: 56px;
  padding: 10px 10px 10px 16px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--light-on-surface-border, #DCDDE2);
  background: var(--light-surface-surface, #FFF);
}

.sign-in-btn {
  width: 104px;
  margin: auto;
  margin-top: 10px;
  
}

.login-modal .cross {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
}
.second-banner-btn{
  width: 180px;
}


@media (max-width: 1085px) {
  .results-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .results-content div {
    width: 100%;
  }

  .results-content .info {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 57px 24px 93px 41px;
  }

  .results-content .info h1 br {
    display: none;
  }
}

@media (max-width: 1050px) {
  .banner-content br {
    display: none;
  }
}

@media (max-width: 1000px) {
  .banner-content h1 {
    font-size: 36px;
  }

  .banner-content p br {
    display: none;
  }
}

@media (max-width: 900px) {
  .banner-content {
    padding: 25px 20px 20px 20px;
  }

  .banner-content {
    flex-direction: column !important;
    text-align: center;
  }

  .banner-content .text-wrapper {
    margin: auto;
  }

  .banner-content img {
    margin-top: 45px;
  }
}

@media (max-width: 800px) {
  .tests-content {
    gap: 30px;
    justify-content: center;
  }

  .card {
    margin-bottom: 20px;
  }

  .card .img {
    margin: 30px 40px 15px 40px;
  }

  .results-content .info {
    flex-direction: column-reverse;
    align-items: center;
  }

  .results-content .info img {
    margin-top: 30px;
    width: 448px;
  }

  .results-content .info h1 {
    margin-top: 0;
  }
  .banner-content {
    margin-top: 10px;
  }

}

@media (max-width: 575px) {
  nav .btn-wrapper button {
    margin: 0 !important;
  }

  nav .btn-wrapper .d-none-btn {
    display: none;
  }

  nav .btn-wrapper button {
    padding: 8px 24px;
    font-size: 14px;
  }
}
@media (max-width: 535px) {
  .card {
    border-radius: 14px;
    margin-bottom: 0px;
  }

  .card img {
    width: 120px;
    height: 110px;
    margin: 30px 40px 10px 40px;
  }
  .card > h3 {
    font-size: 22px;
  }
  .card > p {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .banner-content {
    margin-top: 10px;
    padding: 20px 20px 50px 20px;
  }

  .banner-content h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .banner-content img {
    width: 100%;
  }

  .banner-content button {
    padding: 10px 25px;
  }

  .second-banner-btn {
    width: 160px;
  }

  .tests-content {
    margin-top: 30px;
    gap: 15px;
  }

  .results-content .info img {
    width: 100%;
  }

  .login-modal h1 {
    font-size: 20px;
  }

  .login-modal p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .login-modal .cross {
    top: 15px;
    right: 15px;
  }
  .text-wrapper h1{
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .card {
    border-radius: 12px;
    margin-bottom: 0px;
  }

  .card img {
    width: 100px;
    height: 90px;
    margin: 20px 40px 10px 40px;
  }
  .card > h3 {
    font-size: 20px;
  }
  .card > p {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  nav .btn-wrapper button {
    padding: 7px 18px;
    font-size: 12px;
  }

  .navbar-brand img {
    width: 120px;
  }

  .tests-content {
    gap: 10px;
  }

  .login-modal .modal-content {
    padding-bottom: 30px;
  }

  .login-modal form {
    margin-top: 25px;
  }

  .login-modal input {
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
  }

  .login-modal .cross {
    top: 5px;
    right: 5px;
  }

  footer img {
    width: 120px !important;
  }

  footer h3 {
    color: #000;
    font-size: 14px;
    font-weight: 400;
  }
  .card {
    border-radius: 10px;
    margin-bottom: 0px;
  }

  .card img {
    width: 85px;
    height: 75px;
    margin: 20px 40px 10px 40px;
  }
  .card > h3 {
    font-size: 18px;
  }
  .card > p {
    font-size: 12px;
  }
}
@media (max-width: 365px) {
  .card {
    border-radius: 10px;
    margin-bottom: 0px;
  }

  .card img {
    width: 70px;
    height: 60px;
    margin: 15px 40px 10px 40px;
  }
}
