@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "Poppins";
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #d3efea;
}
.container {
  max-width: 1120px;
  margin: auto;
}

.answer_list > div {
  width: 632px;
  height: 60px;
  border: 1px solid #5546ff;
  margin-top: 20px;
  border-radius: 8px;

  display: flex;

  align-items: center !important;
  background-color: white;
  font-size: 15px;

  cursor: pointer;
}
.answer_list div p {
  margin: 0px !important;
}

.active {
  background-color: #8a84d6 !important;
}
.active span {
  display: none;
}
.active button {
  color: #5546ff;
  background-color: white;
}
.answer {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 100px;
  border: 1px solid #5546ff;
  background-color: transparent;
}

.button-success {
  background: #5546ff;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 35px;
  border: none;
}

.sign-up-modal .modal-content {
  padding: 65px 45px 30px 45px !important;
  text-align: left !important;
}

.sign-up-modal h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.sign-up-modal p {
  color: #8692a6;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.sign-up-modal input {
  width: 100%;
  margin-bottom: 20px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 6px !important;
  padding: 15px !important;
}

.sign-up-modal input::placeholder {
  font-size: 16px;
}

.sign-up-modal label {
  color: #696f79;
  font-size: 16px;
  font-weight: 500;
  text-align: left !important;
  margin: 0 !important;
}

.sign-up-modal form {
  margin-top: 15px !important;
}

.sign-in-btn {
  margin-top: 10px !important;
  width: 80% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-wrap: nowrap;
  
}

#progress {
  width: 350px;
  height: 12px;
  background: #fff;
  border-radius: 16px;
}

#progress #progress_bar {
  width: 25%;
  height: 12px;
  background: #5546ff;
  display: block;
  border-radius: 16px;
}

.quiz-wrapper {
  min-height: 85.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-info_wrapper {
  width: 100%;
}

@media (max-width: 600px) {
  .progress_bar_wrapper {
    width: 100%;
  }

  .progress_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }

  #progress {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .progress_wrapper a {
    margin-top: 20px !important;
    float: right !important;
    margin-left: auto;
  }
}

@media screen and (max-width: 550px) {
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .sign-in-btn {
    width: 80% !important;
    
  }

  .sign-up-modal .modal-content {
    padding: 65px 25px 30px 25px !important;
  }

  .sign-up-modal input::placeholder {
    font-size: 14px;
  }
}
@media screen and (max-width: 650px) {
  .answer_list div {
    width: 100% !important;
    height: auto;
    padding: 10px 5px;
  }
  .answer_list div p {
    width: 90% !important;
  }



  .sign-up-modal .modal-content {
    padding: 65px 20px 30px 20px !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 400px) {
  .h4 {
    font-size: 17px;
  }
  .p {
    font-size: 11px;
  }

  footer img {
    width: 120px !important;
  }

  footer h3 {
    color: #000;
    font-size: 14px;
    font-weight: 400;
  }
}
